body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.Loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &_text {
    font-size: 2em;
  }
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 32px;
  font-size: .5em;
  background-color: #000;
  color: #fff;
}

.Footer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  font-size: .3em;
}

.Container {
  display: flex;
  flex: 1 1 auto;

  &_item {
    flex: 1 1 auto;
    width: 50%;
  }

  &_item > iframe {
    padding-top: 8px;
  }

  &_item > textarea {
    padding: 8px;
  }

  &_item > iframe,
  &_item > textarea {
    width: 100%;
    height: calc(100vh - 32px - 24px);
    border: 1px solid #eee;
    box-sizing: border-box;
  }
}
